.mydiv {
  background-color:grey;
    padding:0px;
    border: 1px solid black;
    margin:0px;
}

.container {
  background-color:yellow;
    border: 1px solid black;
    margin:0px;
    padding:0px;
}

.mychecklist{}